<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<listener>
		<listener-class>org.footware.server.db.HibernateListener</listener-class>
	</listener>

	<!-- Servlets -->

	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>org.footware.server.services.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>trackServlet</servlet-name>
		<servlet-class>org.footware.server.TracksServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>trackUploadServlet</servlet-name>
		<servlet-class>org.footware.server.services.TrackUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>outlineService</servlet-name>
		<servlet-class>org.footware.server.services.OutlineServiceImpl</servlet-class>
	</servlet>
	
	

	<!-- H2 DB Console applet -->
	<servlet>
		<servlet-name>H2Console</servlet-name>
		<servlet-class>org.h2.server.web.WebServlet</servlet-class>
		<!--
			<init-param> <param-name>webAllowOthers</param-name>
			<param-value></param-value> </init-param> <init-param>
			<param-name>trace</param-name> <param-value></param-value>
			</init-param>
		-->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>outlineService</servlet-name>
		<url-pattern>/footware/outline</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>trackUploadServlet</servlet-name>
		<url-pattern>/footware/trackUpload</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>trackServlet</servlet-name>
		<url-pattern>/footware/track</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/footware/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>H2Console</servlet-name>
		<url-pattern>/console/*</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Footware.html</welcome-file>
	</welcome-file-list>





</web-app>
